In [1]:
import yfinance as yf

In [2]:
fund = yf.download(
        tickers = 'PRBLX',
        start="2000-01-01",
        end='2020-01-01'
    )

[*********************100%***********************]  1 of 1 completed

In [3]:
fund.to_csv('data/fund.csv')

In [4]:
green_funds = yf.download(
        tickers = ['PRBLX', 'CEYIX', 'PRILX', 'CVMIX', 'PARWX', 'CSIEX', 'PGINX', 'PXLIX', 'PFPWX', 'PARNX'],
        start="2000-01-01"
    )

[*********************100%***********************]  10 of 10 completed

In [5]:
green_funds

            Adj Close                                                         \
                CEYIX      CSIEX      CVMIX      PARNX      PARWX      PFPWX
Date
1999-12-31  12.387040  10.766967        NaN  12.466459        NaN        NaN
2000-01-03  12.088756  10.511125        NaN  12.441857        NaN        NaN
2000-01-04  11.649620  10.125563        NaN  12.040820        NaN        NaN
2000-01-05  11.587476  10.075112        NaN  12.018682        NaN        NaN
2000-01-06  11.608191  10.089526        NaN  11.912887        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2020-12-03  76.750000  65.349998  21.559999  58.500000  47.509998  47.630001
2020-12-04  77.489998  65.980003  21.820000  59.090000  48.419998  48.540001
2020-12-07  77.269997  65.790001  21.820000  59.110001  48.240002  48.360001
2020-12-08  77.339996  65.849998  21.799999  59.419998  48.529999  48.650002
2020-12-09  76.750000  65.349998  21.719999  58.549999  48.119999  48.240002

                                                    ... Volume              \
                PGINX      PRBLX      PRILX  PXLIX  ...  CEYIX CSIEX CVMIX
Date                                                ...
1999-12-31        NaN   7.008411        NaN    NaN  ...      0     0   NaN
2000-01-03        NaN   6.975080        NaN    NaN  ...      0     0   NaN
2000-01-04        NaN   6.741770        NaN    NaN  ...      0     0   NaN
2000-01-05        NaN   6.756921        NaN    NaN  ...      0     0   NaN
2000-01-06        NaN   6.766010        NaN    NaN  ...      0     0   NaN
...               ...        ...        ...    ...  ...    ...   ...   ...
2020-12-03  20.290001  52.570000  52.680000  12.53  ...      0     0   0.0
2020-12-04  20.490000  53.049999  53.169998  12.62  ...      0     0   0.0
2020-12-07  20.430000  52.930000  53.049999  12.59  ...      0     0   0.0
2020-12-08  20.559999  53.020000  53.139999  12.62  ...      0     0   0.0
2020-12-09  20.520000  52.490002  52.610001  12.53  ...      0     0   0.0


           PARNX PARWX PFPWX PGINX PRBLX PRILX PXLIX
Date
1999-12-31     0   NaN   NaN   NaN     0   NaN   NaN
2000-01-03     0   NaN   NaN   NaN     0   NaN   NaN
2000-01-04     0   NaN   NaN   NaN     0   NaN   NaN
2000-01-05     0   NaN   NaN   NaN     0   NaN   NaN
2000-01-06     0   NaN   NaN   NaN     0   NaN   NaN
...          ...   ...   ...   ...   ...   ...   ...
2020-12-03     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-04     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-07     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-08     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-09     0   0.0   0.0   0.0     0   0.0   0.0

[5270 rows x 60 columns]

In [6]:
green_funds = green_funds.dropna(axis=0)
green_funds

            Adj Close                                                         \
                CEYIX      CSIEX      CVMIX      PARNX      PARWX      PFPWX
Date
2016-12-16  35.079571  30.226851  11.852346  35.103386  27.564457  27.270144
2016-12-19  35.145126  30.291441  11.794151  35.219624  27.680693  27.384933
2016-12-20  35.243454  30.372169  11.803851  35.366859  27.846745  27.548914
2016-12-21  35.153328  30.291441  11.774755  35.351360  27.838438  27.540716
2016-12-22  34.956657  30.121902  11.716558  35.428848  27.896557  27.606308
...               ...        ...        ...        ...        ...        ...
2020-12-03  76.750000  65.349998  21.559999  58.500000  47.509998  47.630001
2020-12-04  77.489998  65.980003  21.820000  59.090000  48.419998  48.540001
2020-12-07  77.269997  65.790001  21.820000  59.110001  48.240002  48.360001
2020-12-08  77.339996  65.849998  21.799999  59.419998  48.529999  48.650002
2020-12-09  76.750000  65.349998  21.719999  58.549999  48.119999  48.240002

                                                        ... Volume        \
                PGINX      PRBLX      PRILX      PXLIX  ...  CEYIX CSIEX
Date                                                    ...
2016-12-16  12.138607  29.253382  29.066002   6.681771  ...      0     0
2016-12-19  12.156846  29.357113  29.168844   6.695135  ...      0     0
2016-12-20  12.165965  29.446037  29.256989   6.715180  ...      0     0
2016-12-21  12.156846  29.416386  29.227602   6.701816  ...      0     0
2016-12-22  12.123906  29.438629  29.249641   6.695135  ...      0     0
...               ...        ...        ...        ...  ...    ...   ...
2020-12-03  20.290001  52.570000  52.680000  12.530000  ...      0     0
2020-12-04  20.490000  53.049999  53.169998  12.620000  ...      0     0
2020-12-07  20.430000  52.930000  53.049999  12.590000  ...      0     0
2020-12-08  20.559999  53.020000  53.139999  12.620000  ...      0     0
2020-12-09  20.520000  52.490002  52.610001  12.530000  ...      0     0


           CVMIX PARNX PARWX PFPWX PGINX PRBLX PRILX PXLIX
Date
2016-12-16   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2016-12-19   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2016-12-20   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2016-12-21   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2016-12-22   0.0     0   0.0   0.0   0.0     0   0.0   0.0
...          ...   ...   ...   ...   ...   ...   ...   ...
2020-12-03   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-04   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-07   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-08   0.0     0   0.0   0.0   0.0     0   0.0   0.0
2020-12-09   0.0     0   0.0   0.0   0.0     0   0.0   0.0

[1002 rows x 60 columns]

In [7]:
bad_funds = yf.download(
        tickers = ['FAN', 'TOPIX', 'ESGS', 'ESGN', 'CAIBX', 'VTV', 'IWD', 'FKINX', 'VYM', 'DFEVX'],
        start="2000-01-01"
    )

[*********************100%***********************]  10 of 10 completed

In [8]:
bad_funds = bad_funds[bad_funds.index >= green_funds.index.min()]['Adj Close']
bad_funds

,CAIBX,DFEVX,ESGN,ESGS,FAN,FKINX,IWD,TOPIX,VTV,VYM
Date,,,,,,,,,,
2016-12-16,49.307808,21.805237,21.005085,22.155062,10.393728,1.860493,102.594101,9.970118,84.560432,67.378433
2016-12-19,49.375828,21.659864,21.134848,22.155062,10.393728,1.860493,102.747910,9.960362,84.784843,67.598160
2016-12-20,49.452358,21.659864,21.134848,22.147245,10.350132,1.860493,103.218361,9.931096,85.063103,67.826653
2016-12-21,49.375828,21.632610,21.134848,22.147245,10.431571,1.868582,102.937897,9.950607,84.892563,67.668472
2016-12-22,49.375828,21.432726,21.102407,22.053503,10.413269,1.860493,102.840439,9.999384,84.842827,67.639214
...,...,...,...,...,...,...,...,...,...,...
2020-12-03,62.680000,27.799999,24.986000,29.704000,20.830000,2.270000,134.600006,6.950000,117.709999,90.769997
2020-12-04,63.150002,28.120001,25.167999,30.225000,20.820000,2.290000,136.320007,6.980000,119.150002,92.070000
2020-12-07,63.020000,28.000000,24.920000,29.813000,20.840000,2.280000,135.559998,6.960000,118.400002,91.459999
2020-12-08,63.180000,27.950001,24.950001,30.103001,20.920000,2.290000,136.029999,7.020000,118.940002,92.040001
2020-12-09,63.150002,27.879999,25.066000,30.159000,20.830000,2.290000,135.770004,6.970000,118.940002,92.099998

In [9]:
benchmark = yf.download(
        tickers = 'IVV',
        start="2016-12-17"
    )

[*********************100%***********************]  1 of 1 completed

In [10]:
oil = yf.download(
        tickers = 'CL=F',
        start="2016-12-17"
    )

[*********************100%***********************]  1 of 1 completed

In [11]:
oil = oil[oil.index.isin(green_funds.index)]
green_funds = green_funds[green_funds.index.isin(oil.index)]
bad_funds = bad_funds[bad_funds.index.isin(oil.index)]
benchmark = benchmark[benchmark.index.isin(oil.index)]

In [12]:
green_funds['Adj Close'].to_csv('data/green_funds.csv')
bad_funds.to_csv('data/bad_funds.csv')
benchmark['Adj Close'].to_csv('data/benchmark.csv')
oil['Adj Close'].to_csv('data/oil.csv')

In [2]:
green_portfolio = yf.download(
        tickers = ['TMO', 'DHR', 'VZ', 'DE', 'MSFT', 'ZTS', 'GOOG', 'REGI'],
        start="2014-01-02",
        end='2020-01-01'
    )['Adj Close']
green_portfolio

[*********************100%***********************]  8 of 8 completed

,DE,DHR,GOOG,MSFT,REGI,TMO,VZ,ZTS
Date,,,,,,,,
2014-01-02,77.410187,37.943386,554.481689,32.131168,11.840000,106.970985,35.812248,30.718561
2014-01-03,77.753242,37.997978,550.436829,31.914997,11.790000,107.380798,35.388348,30.424290
2014-01-06,77.110039,37.665455,556.573853,31.240557,11.470000,107.390556,35.585686,30.357840
2014-01-07,77.453064,37.978138,567.303589,31.482662,11.260000,109.585976,36.031502,30.471750
2014-01-08,76.621170,37.997978,568.484192,30.920624,10.900000,111.274002,35.832027,30.130013
...,...,...,...,...,...,...,...,...
2019-12-24,171.298630,152.661194,1343.560059,155.730255,27.059999,325.877655,58.712044,132.162842
2019-12-26,171.593124,152.312363,1360.400024,157.006729,27.500000,325.079163,58.721626,132.272202
2019-12-27,172.584610,152.372177,1351.890015,157.293686,27.219999,325.917542,58.951569,132.490967
2019-12-30,171.707138,152.332275,1336.140015,155.938049,26.760000,324.410492,58.644978,131.456894
2019-12-31,170.819809,152.970154,1337.020020,156.046890,26.950001,324.240784,58.827019,131.596085

In [3]:
green_portfolio.to_csv('data/green_portfolio.csv')

In [4]:
bad_portfolio = yf.download(
        tickers = ['D', 'AES', 'ADM', 'BG', 'MCD', 'JNJ', 'JPM', 'BAC'],
        start="2014-01-02",
        end='2020-01-01'
    )['Adj Close']
bad_portfolio

[*********************100%***********************]  8 of 8 completed

,ADM,AES,BAC,BG,D,JNJ,JPM,MCD
Date,,,,,,,,
2014-01-02,35.044121,11.137150,14.311323,67.413834,47.919720,75.168175,47.986519,78.482323
2014-01-03,35.207142,11.082516,14.586881,66.862450,47.866970,75.845299,48.357494,78.588135
2014-01-06,35.280521,11.191781,14.809108,66.730797,47.874500,76.241653,48.637775,78.026466
2014-01-07,34.929989,11.386894,14.666881,67.191635,48.756317,77.860161,48.077198,78.457878
2014-01-08,34.530560,11.160563,14.737992,66.928284,48.809078,77.752800,48.530605,77.668266
...,...,...,...,...,...,...,...,...
2019-12-24,44.571293,19.103735,34.300117,54.664997,78.046478,142.067749,132.758896,191.882721
2019-12-26,44.687363,19.268091,34.592278,54.981201,78.142395,141.970413,134.167709,192.263199
2019-12-27,44.784088,19.316429,34.426716,54.971619,78.660408,141.892517,134.264221,193.346176
2019-12-30,44.609985,19.374439,34.231945,54.760822,78.737160,141.454437,133.772079,192.116867
2019-12-31,44.832455,19.239084,34.300117,55.144096,79.447014,142.009354,134.515091,192.799820

In [5]:
bad_portfolio.to_csv('data/bad_portfolio.csv')

In [6]:
sp500 = yf.download(
        tickers = '^GSPC',
        start="2014-01-02",
        end='2020-01-01'
    )['Adj Close']
sp500

[*********************100%***********************]  1 of 1 completed

Date
2014-01-02    1831.979980
2014-01-03    1831.369995
2014-01-06    1826.770020
2014-01-07    1837.880005
2014-01-08    1837.489990
                 ...
2019-12-24    3223.379883
2019-12-26    3239.909912
2019-12-27    3240.020020
2019-12-30    3221.290039
2019-12-31    3230.780029
Name: Adj Close, Length: 1510, dtype: float64

In [7]:
sp500.to_csv('data/sp500.csv')