*Import librairies*

In [1]:
import yfinance as yf
import pandas as pd
import csv
from tqdm.notebook import tqdm
import html5lib

## ESSAY 1

**Select stock from S&P500**

In [2]:
with open('sp500.csv', newline='') as f:
    reader = csv.reader(f)
    sp500 = [val for sublist in list(reader) for val in sublist]

sp500.remove('GOOGL')
sp500.append('GOOG')
sp500[:15]

['MMM',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AMD',
 'AAP',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK']

**Sectors**

In [3]:
sectors = [
 'Basic Materials',
 'Communication Services',
 'Consumer Cyclical',
 'Consumer Defensive',
 'Energy',
 'Financial Services',
 'Healthcare',
 'Industrials',
 'Real Estate',
 'Technology',
 'Utilities'
]

**Selection**

In [4]:
stocks = [
    'AMZN',
    'GOOG',
    'TSLA'
]

In [12]:
dfs = {}

for stock in stocks:
    dfs[stock] = yf.Ticker(stock).history(period="2y")

In [13]:
dfs['GOOG']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-09-04,1204.27,1212.99,1192.50,1197.00,1831000,0,0
2018-09-05,1193.80,1199.01,1162.00,1186.48,2061300,0,0
2018-09-06,1186.30,1186.30,1152.00,1171.44,1888500,0,0
2018-09-07,1158.67,1175.26,1157.21,1164.83,1401300,0,0
2018-09-10,1172.19,1174.54,1160.11,1164.64,1115400,0,0
...,...,...,...,...,...,...,...
2020-08-28,1633.49,1647.17,1630.75,1644.41,1499800,0,0
2020-08-31,1647.89,1647.96,1630.31,1634.18,1823400,0,0
2020-09-01,1636.63,1665.73,1632.22,1660.71,1826700,0,0
2020-09-02,1673.78,1733.18,1666.33,1728.28,2511200,0,0
2020-09-03,1709.71,1709.71,1615.06,1641.84,3100800,0,0

In [14]:
for df in dfs:
    dfs[df]['Returns'] = (dfs[df].Open - dfs[df].Open.shift(1)) / dfs[df].Open.shift(1)
    dfs[df] = dfs[df].iloc[1:, [0,1,2,3,7]]

In [15]:
dfs['GOOG']

               Open     High      Low    Close   Returns
Date
2018-09-05  1193.80  1199.01  1162.00  1186.48 -0.008694
2018-09-06  1186.30  1186.30  1152.00  1171.44 -0.006282
2018-09-07  1158.67  1175.26  1157.21  1164.83 -0.023291
2018-09-10  1172.19  1174.54  1160.11  1164.64  0.011669
2018-09-11  1161.63  1178.68  1156.24  1177.36 -0.009009
...             ...      ...      ...      ...       ...
2020-08-28  1633.49  1647.17  1630.75  1644.41 -0.012209
2020-08-31  1647.89  1647.96  1630.31  1634.18  0.008815
2020-09-01  1636.63  1665.73  1632.22  1660.71 -0.006833
2020-09-02  1673.78  1733.18  1666.33  1728.28  0.022699
2020-09-03  1709.71  1709.71  1615.06  1641.84  0.021466

[504 rows x 5 columns]

In [16]:
dfs['GOOG'].Returns.std()

0.019027635616443363

In [24]:
stats = pd.DataFrame(
    {
        'Std': [dfs[df].Returns.std() for df in dfs],
        'Mean': [dfs[df].Returns.mean() for df in dfs],
        'Min': [dfs[df].Returns.min() for df in dfs],
        'Max': [dfs[df].Returns.max() for df in dfs],
        'Kurtosis': [dfs[df].Returns.kurtosis() for df in dfs],
        'Skewness': [dfs[df].Returns.skew() for df in dfs],
    },
    index=[df for df in dfs]
).T

In [25]:
stats

              AMZN      GOOG      TSLA
Std       0.023535  0.019028  0.048497
Mean      0.001353  0.000878  0.004981
Min      -0.104723 -0.098984 -0.210924
Max       0.104128  0.075776  0.310598
Kurtosis  3.177087  3.746129  5.381732
Skewness -0.031385 -0.612500  0.631999