In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
stocks = {
 'Materials': {'Name': 'Newmont Corporation', 'Ticker': 'NEM'},
 'Communication Services': {'Name': 'Alphabet Inc.', 'Ticker': 'GOOGL'},
 'Consumer Discretionary': {'Name': 'Amazon.com Inc.', 'Ticker': 'AMZN'},
 'Consumer Staples': {'Name': 'PepsiCo Inc.', 'Ticker': 'PEP'},
 'Energy': {'Name': 'National Oilwell Varco Inc.', 'Ticker': 'NOV'},
 'Financial Services': {'Name': 'Bank of America Corp', 'Ticker': 'BAC'},
 'Healthcare': {'Name': 'HCA Healthcare', 'Ticker': 'HCA'},
 'Industrials': {'Name': 'Boeing Company', 'Ticker': 'BA'},
 'Real Estate': {'Name': 'Host Hotels & Resorts', 'Ticker': 'HST'},
 'Information Technology': {'Name': 'Apple Inc.', 'Ticker': 'AAPL'},
 'Utilities': {'Name': 'American Electric Power', 'Ticker': 'AEP'}
}

In [3]:
complete_data = yf.download(
        tickers = [stocks[stock]['Ticker'] for stock in stocks],
        group_by = 'ticker',
        start="2018-06-30"
    )

[*********************100%***********************]  11 of 11 completed

In [4]:
market = yf.download(
    tickers = "^GSPC",
    start="2018-06-30"
)

[*********************100%***********************]  1 of 1 completed

In [5]:
from zozif.notebook_functions_draft import StocksData

In [6]:
e = StocksData(complete_data, market)

In [7]:
s = e.get_statistics()

In [8]:
e.get_something('prices')

,GOOGL,AMZN,NEM,NOV,AEP,HCA,BAC,PEP,BA,HST,AAPL
Date,,,,,,,,,,,
2018-07-02,1142.109985,1713.780029,35.223190,42.069508,65.090996,101.065643,26.816353,102.430809,323.468475,19.285103,45.467773
2018-07-03,1116.280029,1693.959961,35.307617,42.463139,65.509148,101.731659,26.342230,101.748146,320.436676,19.451670,44.675892
2018-07-05,1141.290039,1699.729980,36.048672,42.886299,66.094543,101.349678,26.474983,102.449524,320.677307,19.534954,45.035393
2018-07-06,1155.079956,1710.630005,35.485847,43.555473,66.494118,103.053856,26.579294,102.458878,322.082581,19.729286,45.659668
2018-07-09,1167.280029,1739.020020,35.448326,44.283688,63.994541,103.543564,27.546499,100.775543,329.089355,19.747793,46.293667
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16,1567.699951,3272.709961,62.669998,8.600000,91.519997,135.119995,24.240000,141.729996,167.350006,10.950000,119.019997
2020-10-19,1529.949951,3207.209961,61.709999,8.700000,91.279999,134.330002,23.719999,139.679993,167.110001,10.670000,115.980003
2020-10-20,1551.079956,3217.010010,61.189999,9.140000,90.680000,136.419998,24.139999,139.710007,167.240005,10.780000,117.510002
2020-10-21,1585.989990,3184.939941,61.480000,9.010000,90.400002,135.979996,24.049999,139.600006,163.860001,11.040000,116.870003
2020-10-22,1606.660034,3176.399902,60.540001,9.310000,92.199997,135.210007,24.870001,139.610001,169.070007,11.480000,115.750000

In [9]:
s

,Std,Annual Std,Mean,Geometric Mean,Median,Min,Max,Kurtosis,Skewness,Alpha,Beta,VaR 95% HS,VaR 95% DN,Systemic Risk
GOOGL,1.9921,31.6239,0.0804,16.4667,0.0923,-11.6342,9.6202,5.618884,-0.137120,0.000021,0.639956,-3.0066,-3.1964,0.0102
AMZN,2.1568,34.2381,0.1305,31.0301,0.0923,-7.9221,9.4452,2.417528,0.110702,-0.000083,0.473902,-3.3164,-3.4171,0.0056
NEM,2.2462,35.6572,0.1173,26.1456,0.0923,-11.1161,14.0182,8.119567,0.406072,0.000362,0.147854,-3.3302,-3.5774,0.0005
NOV,3.8352,60.8816,-0.1861,-48.2348,0.0923,-28.9541,21.4876,9.388403,-0.316572,0.001016,0.258133,-5.6713,-6.4944,0.0017
AEP,1.7343,27.5304,0.0767,16.8197,0.0923,-11.5827,11.6826,13.391304,-0.011636,0.000150,0.502202,-2.2601,-2.7758,0.0063
HCA,2.8084,44.5819,0.0902,13.6880,0.0923,-19.0161,22.5598,13.608126,0.436016,0.000215,0.355624,-3.6530,-4.5292,0.0031
BAC,2.5945,41.1860,0.0212,-3.0710,0.0923,-15.3974,17.7962,10.806479,0.233398,0.000430,0.497526,-3.9786,-4.2463,0.0062
PEP,1.6988,26.9683,0.0686,14.6214,0.0923,-11.4283,12.9366,18.898128,-0.045583,0.000061,0.691568,-2.1216,-2.7257,0.0119
BA,3.7881,60.1341,-0.0390,-24.3992,0.0923,-23.8484,24.3186,12.161825,0.264113,0.000643,0.274911,-4.8488,-6.2699,0.0019
HST,2.6701,42.3869,-0.0553,-20.4642,0.0923,-15.6880,17.0974,8.486605,0.393959,0.000745,0.378722,-3.8947,-4.4473,0.0036
AAPL,2.3442,37.2123,0.1898,50.4877,0.0923,-12.8647,11.9808,5.575121,-0.163257,-0.000497,0.544115,-3.2625,-3.6660,0.0074
Market,1.5774,25.0406,0.0536,10.9001,0.0923,-11.9841,9.3828,14.282772,-0.605289,0.000000,1.000000,-2.4090,-2.5410,0.0249

In [10]:
e.get_statistics_eq_w_portfolio()

,Std,Annual Std,Mean,Geometric Mean,Median,Min,Max,Kurtosis,Skewness,Alpha,Beta,VaR 95% HS,VaR 95% DN,Systemic Risk
Eq W Returns,1.7512,27.7988,0.0449,7.7096,0.09,-11.8637,10.0,12.493218,-0.704723,0.000027,0.852802,-2.3131,-2.8355,0.0183

In [11]:
carl = e.monte_carlo(['AMZN', 'AAPL', 'AEP'], 1000)

In [12]:
carl.keys()

Index(['AMZN', 'AAPL', 'AEP', 'Returns', 'Volatility', 'Sharpe Ratio'], dtype='object')

In [13]:
carl

,AMZN,AAPL,AEP,Returns,Volatility,Sharpe Ratio
Max Sharpe Allocation,14.43,63.14,22.43,39.29,29.75,1.32
Min Volatility Allocation,33.89,3.86,62.24,25.03,23.40,1.07

In [14]:
opt = e.maximize_sharpe_ratio(['AMZN', 'AAPL', 'AEP'])

In [15]:
opt[1]

array([0.12491815, 0.63332802, 0.24175383])

In [16]:
e.portfolio_vs_market_CAPM(['AMZN', 'AAPL', 'AEP'], opt[1])

                             OLS Regression Results
================================================================================
Dep. Variable:     Max Sharpe Portfolio   R-squared:                       0.743
Model:                              OLS   Adj. R-squared:                  0.743
Method:                   Least Squares   F-statistic:                     1681.
Date:                  Fri, 23 Oct 2020   Prob (F-statistic):          1.31e-173
Time:                          12:45:19   Log-Likelihood:                 1891.3
No. Observations:                   583   AIC:                            -3779.
Df Residuals:                       581   BIC:                            -3770.
Df Model:                             1
Covariance Type:              nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const              0.0010      0.000      2.565      0.011       0.000       0.002
Market Returns     1.0185      0.025     40.995      0.000       0.970       1.067
==============================================================================
Omnibus:                      114.673   Durbin-Watson:                   1.890
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              848.568
Skew:                           0.641   Prob(JB):                    5.44e-185
Kurtosis:                       8.769   Cond. No.                         63.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.